@CHARSET "UTF-8";

html
	{
  	display: flex; flex-direction: column; /* correction bug IE de min-height non appliqué à body */
	}
body
	{
	background-color: #FFFFFF;
	display: flex; /* crée un contexte flex pour ses enfants */
	flex-direction: column; /* affichage vertical */
	font: normal 14px Helvetica, Arial, sans-serif;
	margin: 0.5;
	min-height: 100vh; /* toute la hauteur du viewport */
	padding: 0.5em;
	}
#wrapper
	{
	border-radius: 0.5em;
	box-shadow: 0 0 0.5em #000000;
	margin: 0;
	padding: 0;
	min-height:*;
	}
header
	{
	align-items: center;
	background-color: rgb(15,128,255);
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	width: 100%;
	}
header a
	{
	border: 0;
	color: #FFFFFF;
	margin: 0;
	text-decoration: none;
	}
header>a
	{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding: 1em;
	}
header>a>h1
	{
	border: 0;
	font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
	font-size: 84px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}
header a img
	{
	border: 0;
	}
nav
	{
	display: flex;
	flex-direction: row;
	font-weight: bold;
	margin: 0;
	min-width: 445px;
	padding: 0;
	}
nav	a
	{
	color: #FFFFFF;
	}
nav ul
	{
	border: 0;
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
	}
nav li
	{
	padding: 0.5em;
	position: relative;
	width: 7em;
	}
nav li:hover
	{
	background-color: rgb(19,154,255);
	border-radius: 0.5em;
	}
nav>ul>li
	{
	text-align: center;
	}
nav ul ul
	{
	background-color: rgb(15,128,255);
	border-radius: 0.5em;
	box-shadow: 0 0.5em 0.5em #000000;
	display: none;
	flex-direction: column;
	left: 0;
	position: absolute;
	top: 2.2em;
	z-index: 10;
	}
nav ul li:hover ul
	{
	display: flex;
	}
nav .align-right
	{
	margin-left: auto;
	}
nav  #username
	{
	background-color: #FFFFFF;
	border-radius: 0.5em;
	color: rgb(15,128,255);
	display: inline-block;
	margin: auto 1em;
	padding: 0.25em 0.5em;
	}
article
	{
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-color: rgb(15,128,255);
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100%;
	padding: 1em;
	}
button,
.button
	{
	background-color: rgb(15,128,255);
	border-width: 0;
	border-radius: 0.5em;
	box-shadow: 0 0 0.5em #000000;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	margin: auto 0;
	padding: 0.25em 0.5em;
	}
button:hover,
.button:hover
	{
	background-color: rgb(19,154,255);
	}
button:active,
.button:active
	{
	background-color: rgb(23,180,255);
	box-shadow: 0 0.05em 0.05em #000000;
	}
form
	{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	}
form input,
form label,
form select,
form textarea
	{
	border-color: rgb(15,128,255);
	border-radius: 0.5em;
	border-width: 1px;
	color: rgb(15,128,255);
	}
form label
	{
	font-weight: bold;
	margin-right:0.5em;
	padding: 0 0;
	text-align: right;
	}
form>ul,
form>ul>li
	{
	display: flex;
	margin: 0;
	margin-bottom: 0.5em;
	padding: 0;
	}
form>ul
	{
	flex-direction: column;
	flex-grow: 1;
	}
form>ul>li:last-child
	{
	}
form>ul>li>label
	{
	}
form>ul>li>label:not(:first-child)
	{
	margin-left: 1em;
	}
form>ul>li>input
	{
	flex-grow: 1;
	}
form>ul>li>textarea
	{
	flex-grow: 1;
	}
form>button[type="submit"]
	{
	margin: 0 auto;
	}
	