<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pascra</title>
		<style type="text/css">
		</style>
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<script type="text/javascript">
		</script>
	</head>
 	<body>
		<h1>Pascra</h1>
		<h2>Page Scraper for GAE Python</h2>
		<p>POST request form:</p>
		<form method="POST">
			<label for="url">URL</label>
			<input id="url" name="url" required="required"/>
			<label for="encoding">Encoding</label>
			<select id="encoding" name="encoding">
				<option value="shift_jisx0213">SHIFT JISX0213</option>
				<option value="utf-8" selected="selected">UTF8</option>
			</select>
			<label for="selectors">CSS Selectors (one by line)</label>
			<textarea id="selectors" name="selectors"></textarea>
			<input type="submit" />
		</form>
	</body>
</html>


